In [1]:
%reload_ext watermark
%watermark -a "Hugo Mendes"

Author: Hugo Mendes

# Houses Prediction

## Objetivo: Gerar um modelo de previsão a partir do dataset escolhido Kaggle para inferir novos valores para casas que serão passadas pela aplicação de API do projeto.
## Etapas: Vamos utilizar de todas as etapas de um projeto Data Science (Carregando dos dados, Conhecimento dos dados, Limpeza e Transformação, Análise Exploratória, Geração do Modelo, Validações e Avaliações, Importar o modelo para o deploy (produção).
## Metas: Pretendo alcançar um modelo de previsão com o poder de explicabilidade maior que 85% e que o modelo seja estatisticamente significativo e também que minimizamos ao máximo o MAE (erro absoluto médio) e RMSE (raiz do erro quadrático médio).

### 1. Importação das Bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import r2_score, mean_absolute_error, root_mean_squared_error, mean_squared_error
from sklearn.linear_model import LinearRegression

In [3]:
# versões dos pacotes
%watermark --iversions

matplotlib: 3.10.7
numpy     : 2.3.5
pandas    : 2.3.3
seaborn   : 0.13.2
sklearn   : 1.8.0

### 2. Carregando os dados

In [4]:
dataset = "Housing.csv"
df_casas = pd.read_csv(dataset, sep=",")

In [5]:
# Exibindo linhas inicias do DataFrame
df_casas.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [6]:
# Exibindo linhas finais do Dataframe
df_casas.tail()

       price  area  bedrooms  ...  parking  prefarea furnishingstatus
540  1820000  3000         2  ...        2        no      unfurnished
541  1767150  2400         3  ...        0        no   semi-furnished
542  1750000  3620         2  ...        0        no      unfurnished
543  1750000  2910         3  ...        0        no        furnished
544  1750000  3850         3  ...        0        no      unfurnished

[5 rows x 13 columns]

### 3. Conhecendo os dados

In [7]:
# Informações do Dataframe
df_casas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [11]:
# Quantidade de atributos (colunas)
len(df_casas.columns)

13

In [13]:
# Quantidade de linhas
df_casas.shape[0]

545

In [14]:
# Quantidade de registros
df_casas.shape[0] * df_casas.shape[1]

7085

In [15]:
# Tipos de dados
df_casas.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

Nossos atributos são:

Atributos Estruturais -> Area (sq. ft), Quartos, Banheiros e Stories
Localização e Acessibilidade -> Acesso a rodovia e Área de preferencia
Utilidades -> Ar condicionado, Aquecimento de água, Quarto de hóspedes, Porão e Estacionamento
Mobília -> Status da Mobília
Preço da Casa (Atributo Alvo) -> Preço

### 4. Limpeza e Transformação